main * {
	@extend .stack-first;
}

main {
	* {
		+ h1, + h2, + h3, + h4, + h5, + h6,
		+ p,
		+ hr,
		+ table,
		+ ul,
		+ ol,
		+ dl,
		+ blockquote,
		+ pre,
		+ figure {
			@extend .stack;
		}
	}

	li > ul,
	li > ol {
		@extend .stack-unset;
	}
}

figure > figcaption {
	@extend .stack-reset;
}

.table_of_contents,
.edit-meta,
.edit-page,
.pagination,
.highlight,
.powered,
.panel,
.button,
.gist,
.twitter-tweet {
	@extend .stack;
}

.pagination {
	@include grid($flex-wrap: nowrap, $justify-content: space-between);
	font-weight: bold;
	> * {
		@extend .stack-reset;
	}
}
.nav-prev {}
.nav-next {
	margin-left: auto;
}

@media screen and (max-width: #{map-get($default-breakpoints, xs )} ) {
	.pagination {
		@include grid($flex-flow: column nowrap, $justify-content: null, $align-items: center);
	}
	.nav-next {
		margin-left: 0;
	}
}

.panel {
	/*padding: $default-layout-padding;*/
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.panel-primary {
	border: 1px solid $default-border-color;
}

.panel-notice {
	color: #fff;
	background: #4ba0e1;
}
.panel-success {
	color: #fff;
	background: #609f43;
}
.panel-caution {
	color: #fff;
	background: #de776d;
}

.panel-danger {
	color: #fff;
	background: #ce3426;
}

.panel-header-primary {}
.panel-body {}




.panel-info {
  color: #059;
  background-color: #BEF;
}
.panel-success {
  color: #270;
  background-color: #DFF2BF;
}
.panel-error {
  color: #D8000C;
  background-color: #FFBABA;
}

.panel-warning {
  color: #9F6000;
  background-color: #FEEFB3;
  border-color:#dc3545;
	/*color: #fff;
	background: #e67e22;*/
}


.panel-header-warning {
  background-color:#fdf3f2
}

/*

.admonition{
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  border-left:.2rem solid #007bff;border-radius:.1rem;box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s
}
  
.admonition:last-child{
  margin-bottom:0
}
.admonition p.admonition-title~*{padding:0 1.4rem}
 .admonition>ol,
 .admonition>ul{margin-left:1em}.admonition .admonition-title{position:relative;margin:0 -.6rem!important;padding:.4rem .6rem .4rem 2rem;font-weight:700;background-color:rgba(68,138,255,.1)}
 .admonition .admonition-title:before{position:absolute;left:.6rem;width:1rem;height:1rem;color:#007bff;font-family:Font Awesome\ 5 Free;font-weight:900;content:""}
 .admonition .admonition-title+*{margin-top:.4em}

.admonition attention{border-color:#fd7e14}.admonition.attention .admonition-title{background-color:#ffedcc}.admonition.attention .admonition-title:before{color:#fd7e14;content:""}.admonition.caution{border-color:#fd7e14}.admonition.caution .admonition-title{background-color:#ffedcc}.admonition.caution

.admonition-title:before{color:#fd7e14;content:""}.admonition.warning{}.admonition.warning
.admonition-title{}.admonition.warning

.admonition-title:before{color:#dc3545;content:""}.admonition.danger{border-color:#dc3545}.admonition.danger .admonition-title{background-color:#fdf3f2}.admonition.danger .admonition-title:before{color:#dc3545;content:""}.admonition.error{border-color:#dc3545}.admonition.error .admonition-title{background-color:#fdf3f2}.admonition.error .admonition-title:before{color:#dc3545;content:""}.admonition.hint{border-color:#ffc107}.admonition.hint .admonition-title{background-color:#fff6dd}.admonition.hint .admonition-title:before{color:#ffc107;content:""}.admonition.tip{border-color:#ffc107}.admonition.tip .admonition-title{background-color:#fff6dd}.admonition.tip .admonition-title:before{color:#ffc107;content:""}.admonition.important{border-color:#007bff}.admonition.important .admonition-title{background-color:#e7f2fa}.admonition.important .admonition-title:before{color:#007bff;content:""}.admonition.note{border-color:#007bff}.admonition.note .admonition-title{background-color:#e7f2fa}.admonition.note .admonition-title:before{color:#007bff;content:""}
*/



.button {
	display: inline-block;
	font-size: 120%;
	padding: .8rem;
	font-weight: bold;
	text-decoration: none;
	border-radius: 12px;
	color: #fff;
	background: #4ba0e1;

	&:hover {
		color: #fff;
		text-decoration: none;
		background: #3b89c5;
	}
}

.button-primary {
	border: 1px solid $default-border-color;
}
.button-success {
	background: #369b08;
	&:hover {
		background: #256905;
	}
}
.button-caution {
	background: #f56558;
	&:hover {
		background: #d45145;
	}
}
.button-warning {
	background: #f5811b;
	&:hover {
		background: #db7012;
	}
}
.button-danger {
	background: #ce3426;
	&:hover {
		background: #a0281d;
	}
}

.notification {
	padding: .2rem $default-layout-padding;
	text-align: center;
	background: $sidebar-active-color;
}

.backtothetop {
	display: none;
	font-size: 200%;
}
.fa-layers .fa-circle {
	color: #fff;
}

figure > figcaption h4 {
	font-size: 80%;
	font-weight: normal;
}

.table_of_contents {
	font-size: 90%;
	padding: $default-layout-padding;
	border: 4px solid $default-border-color;

	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		border-top: 1px solid $default-border-color;
	}
	> nav > ul > li:first-child {
		border-top: unset;
	}

	ul > li li a {
		margin-left: 2rem * 1;
	}
	ul ul > li li a {
		margin-left: 2rem * 2;
	}
	ul ul ul > li li a {
		margin-left: 2rem * 3;
	}
	ul ul ul ul > li li a {
		margin-left: 2rem * 4;
	}
	ul ul ul ul ul > li li a {
		margin-left: 2rem * 5;
	}

}

.headerlink > .svg-inline--fa {
	margin-left: .4rem;
	width: .8rem;
}

.ais-SearchBox {
	.ais-SearchBox-input {
		width: 70%;
	}
	button {
		margin-left: .2rem;
		padding: .4rem;
	}
}
.ais-Stats {
	font-size: 80%;
	color: #70757a;
}
.ais-Hits-item {
	@extend .stack;

	h3 {
		font-size: 140%;
		font-weight: normal;
	}
	p {
		@extend .stack-unset;
		color: #3C4043;
	}
	.lastmod {
		font-size: 90%;
		color: #70757a;
	}
}

.ais-Pagination {
	margin-top: 1em;
}
.ais-Pagination-list {
	@extend ul.no-style;
	@include grid($flex-wrap: wrap, $justify-content: center);
}
.ais-Pagination-item {
	padding: .6rem;
}
